  *{
    color: cornsilk;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #000000;
    border-radius: 50px;
}

.group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #000000;
    border-radius: 50px;
}

body{
    background-color:#000000;
    margin: 0px;
}

.menu{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.about{
    display: flex;
    justify-content: right;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}